@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap");
.color--negro {
  color: #222831;
}

.color--gris {
  color: #393e46;
}

.color--blanco {
  color: #eeeeee;
}

.color--turquesa {
  color: #00adb5;
}

.pj-1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pj-2 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pj-3 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pj-4 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pj-5 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.pj-6 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.pj-7 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.pj-8 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.pj-9 {
  padding-left: 10rem;
  padding-right: 10rem;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-size: 2rem !important;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5% !important;
}

::-webkit-scrollbar {
  width: 0px;
}

/*TIPOGRAFIA*/
/*Texto General*/
/*Texto Logo*/
/*Texto Menu*/
/*Texto Hero*/
/*MEDIA-QUERIE(RESPONSIVE)*/
/*BASICS*/
.header {
  background-color: #222831;
}

@media screen and (max-width: 768px) {
  .header .header__contenedor .header__nav .header__logo .header__img {
    display: none !important;
  }
}

@media screen and (max-width: 320px) {
  .header .header__contenedor .header__nav .header__logo .header__img {
    display: inline-block !important;
  }
  .header .header__contenedor .header__nav .header__logo .header__name {
    display: none !important;
  }
}

.header .header__contenedor .header__nav .header__logo .header__name {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  -webkit-transform: skewX(175deg);
          transform: skewX(175deg);
  letter-spacing: 0.25rem;
}

.header .header__contenedor .header__nav .header__logo .header__name:hover {
  color: #00adb5;
}

.header .header__contenedor .header__nav .header__logo .header__img {
  width: 6.4rem;
  height: 6.4rem;
}

.header .header__contenedor .header__nav .header__menu .header__lista .header__item {
  font-family: "DM Sans", sans-serif;
}

.header .header__contenedor .header__nav .header__menu .header__lista .header__item .active {
  color: #00adb5;
}

.header .header__contenedor .header__nav .header__menu .header__lista .header__item .header__link:hover {
  color: #00adb5;
}

.footer {
  background-color: #222831;
}

@media screen and (max-width: 768px) {
  .footer .footer__redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer .footer__redes {
    display: none;
  }
}

.footer .footer__fila .footer__link:hover {
  color: #00adb5;
}

.footer .footer__contenedor {
  max-width: 1200px;
}

.footer .footer__contenedor .footer__fila .footer__columna .footer__mapaLink .footer__iframe {
  width: 15rem;
  border-radius: 0.25rem;
}

/*INDEX*/
.hero .hero__contenedor .hero__img {
  background-image: url("../src/assets/images/heroImg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero .hero__contenedor .hero__img .hero__descripcion {
    color: #eeeeee;
  }
}

@media screen and (max-width: 320px) {
  .hero .hero__contenedor .hero__img .hero__titulo {
    padding-bottom: 0% !important;
    font-size: 7.5rem !important;
  }
  .hero .hero__contenedor .hero__img .hero__subtitulo {
    display: none !important;
  }
  .hero .hero__contenedor .hero__img .hero__descripcion {
    padding: 0% 5% !important;
    color: #eeeeee;
  }
}

.hero .hero__contenedor .hero__img .hero__txt {
  color: #222831;
  padding: 10% 5%;
  font-family: "Merriweather Sans", sans-serif;
}

.hero .hero__contenedor .hero__img .hero__txt .hero__titulo {
  font-size: 10rem;
  letter-spacing: 0.25rem;
}

.hero .hero__contenedor .hero__img .hero__txt .hero__subtitulo {
  font-size: 5rem;
}

.hero .hero__contenedor .hero__img .hero__txt .hero__btnLink {
  background-color: #00adb5;
  border-color: #00a3ab;
  width: 15rem;
}

.sponsors .sponsors__contenedor {
  background-color: white;
}

.sponsors .sponsors__contenedor .sponsors__filaLaptop {
  display: none;
}

.sponsors .sponsors__contenedor .sponsors__filaTablet {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sponsors .sponsors__contenedor .sponsors__filaLaptop {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sponsors .sponsors__contenedor .sponsors__filaDesktop {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .sponsors .sponsors__contenedor .sponsors__filaTablet {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sponsors .sponsors__contenedor .sponsors__filaLaptop {
    display: none !important;
  }
}

.sponsors .sponsors__contenedor .sponsors__columna {
  width: 150px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .sponsors {
    display: none !important;
  }
}

.cultura .cultura__contenedor {
  margin: 10rem auto;
}

.cultura .cultura__contenedor .cultura__titulo {
  margin-bottom: 5rem;
}

.cultura .cultura__contenedor .cultura__fila .cultura__columna {
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {
  .cultura .cultura__contenedor .cultura__fila .cultura__columna {
    margin-right: 0;
  }
}

.cultura .cultura__contenedor .cultura__fila .cultura__vl {
  border-left: 2px solid #00adb5;
  max-width: 2px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .cultura .cultura__contenedor .cultura__fila .cultura__vl {
    display: none !important;
  }
}

.cultura .cultura__contenedor .cultura__fila .cultura__tituloVision,
.cultura .cultura__contenedor .cultura__fila .cultura__tituloValores,
.cultura .cultura__contenedor .cultura__fila .cultura__tituloMision {
  font-weight: bold;
  color: #00adb5;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cultura .cultura__contenedor .cultura__fila .cultura__tituloVision,
  .cultura .cultura__contenedor .cultura__fila .cultura__tituloValores,
  .cultura .cultura__contenedor .cultura__fila .cultura__tituloMision {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .cultura .cultura__contenedor .cultura__fila .cultura__txt {
    text-align: center;
  }
}

.opiniones .opiniones__contenedor {
  margin: 10rem auto;
}

.opiniones .opiniones__contenedor .opiniones__columna {
  background-color: #393e46;
  margin: 1rem;
}

.opiniones .opiniones__contenedor .opiniones__columna .opiniones__opinion {
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
  .opiniones .opiniones__contenedor .opiniones__columna .opiniones__opinion {
    min-height: 11.5rem;
  }
}

.opiniones .opiniones__contenedor .opiniones__columna .opiniones__txt {
  color: #eeeeee;
}

/*TIENDA*/
@media screen and (max-width: 460px) {
  .slide {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .slide {
    display: none;
  }
}

.slide .slide__contenedor .slide__carousel .slide__carouselContenedor .slide__item #img {
  width: 1600px;
  height: 580px;
}

.tienda .tienda__contenedor .tienda__titulo {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .tienda .tienda__contenedor .tienda__titulo {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .tienda .tienda__contenedor .tienda__titulo {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.tienda .tienda__contenedor .tienda__fila .tienda__tituloProductos {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .tienda .tienda__contenedor .tienda__fila .tienda__tituloProductos {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .tienda .tienda__contenedor .tienda__fila .tienda__tituloProductos {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta {
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 20px #969696;
          box-shadow: 2px 2px 20px #969696;
  width: 40rem;
  height: 50rem;
  background-color: #f1f1f1;
  padding: 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta {
    width: 30rem;
    height: 40rem;
  }
}

@media screen and (max-width: 320px) {
  .tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta {
    width: 27.5rem;
    height: 35rem;
  }
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__img {
  max-width: 35rem;
  max-height: 35rem;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__titulo {
  font-size: 2.5rem;
}

@media screen and (max-width: 320px) {
  .tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__titulo {
    font-size: 1.5rem;
  }
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__btn {
  background-color: #00adb5;
  border-color: #00a3ab;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 15rem;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalHeader .tarjeta__modalTitulo {
  font-weight: bold;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalBody {
  padding: 2rem;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalBody > p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalBody .tarjeta__modalFila .tarjeta__modalColumna .tarjeta__modalPrecio {
  color: #00adb5;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalBody .tarjeta__modalFila .tarjeta__modalTituloDescripcion .tarjeta__modalDescripcion {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalFooter .tarjeta__modalBtnComprar {
  background-color: #00adb5;
  border-color: #00a3ab;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalFooter .tarjeta__modalBtnCerrar {
  background-color: red;
  border-color: #dc143c;
}

.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalFooter .tarjeta__modalBtnCerrar,
.tienda .tienda__contenedor .tienda__fila .tienda__columna .tienda__tarjeta .tarjeta__body .tarjeta__modal .tarjeta__modalContenedor .tarjeta__modalFooter .tarjeta__modalBtnComprar {
  width: 15rem;
}

/*NOSOTROS*/
@media screen and (max-width: 768px) {
  .nosotros .nosotros__fila {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nosotros .nosotros__fila .nosotros__foto .nosotros__img {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .nosotros .nosotros__fila .nosotros__foto .nosotros__img {
    width: 30rem;
  }
}

.nosotros .nosotros__fila .nosotros__descripcion {
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .nosotros .nosotros__fila .nosotros__descripcion > .nosotros__txt {
    font-size: 1.25rem !important;
  }
}

@media screen and (max-width: 768px) {
  .nosotros .nosotros__fila .nosotros__descripcion > .nosotros__txt {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 320px) {
  .nosotros .nosotros__fila .nosotros__descripcion > p {
    display: none !important;
  }
}

.nosotros .nosotros__fila .nosotros__descripcion .nosotros__txt {
  font-size: 2rem;
}

/*CONTACTO*/
.contacto .contacto__contenedor .contacto__fila .contacto__mapaDireccion .contacto__iframe {
  width: 60rem;
  height: 60rem;
}

@media screen and (max-width: 768px) {
  .contacto .contacto__contenedor .contacto__fila .contacto__mapaDireccion .contacto__iframe {
    width: 30rem;
  }
}

@media screen and (max-width: 320px) {
  .contacto .contacto__contenedor .contacto__fila .contacto__mapaDireccion .contacto__iframe {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .contacto .contacto__contenedor .contacto__fila .contacto__mapaDireccion .contacto__direccion {
    display: none !important;
  }
}

.contacto .contacto__formulario .contacto__form {
  width: 40rem;
}

@media screen and (max-width: 768px) {
  .contacto .contacto__formulario .contacto__form {
    width: 30rem;
  }
}

.contacto .contacto__formulario .contacto__form .contacto__btn {
  background-color: #00adb5;
  border-color: #00a3ab;
  width: 15rem;
}

.contacto #motivo,
.contacto #nombre,
.contacto #email,
.contacto #mensaje {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 1.5rem 0;
  font-size: 2rem;
  padding: 1rem;
  resize: none;
}

@media screen and (max-width: 460px) {
  .integrantes .integrantes__contenedor .integrantes__fila .integrantes__columna {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.integrantes .integrantes__contenedor .integrantes__fila .integrantes__columna {
  margin-bottom: 2rem;
}

.integrantes .integrantes__contenedor .integrantes__fila .integrantes__columna .integrantes__imgNombrePuesto .integrantes__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: integrantes__img;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 1px solid black;
}

.integrantes .integrantes__contenedor .integrantes__fila .integrantes__columna .integrantes__imgNombrePuesto .integrantes__nombre {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: integrantes__nombre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.integrantes .integrantes__contenedor .integrantes__fila .integrantes__columna .integrantes__imgNombrePuesto .integrantes__puesto {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: integrantes__puesto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.integrantes .integrantes__contenedor .integrantes__fila .integrantes__columna #integrantes__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "integrantes__img integrantes__nombre" "integrantes__img integrantes__puesto";
}

/*AYUDA*/
@media screen and (max-width: 320px) {
  .preguntas {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/*WHATSAPP*/
.fixed {
  opacity: 0.75;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.fixed:hover {
  opacity: 1;
}

.fixed--mod {
  background-color: #eeeeee;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 20px #0000004f;
          box-shadow: 2px 2px 20px #0000004f;
  position: fixed;
  left: 0rem;
  bottom: -1.5rem;
  padding: 0.75rem;
}

.fixed--mod > a {
  text-decoration: none;
}

.fixed--mod > a > p {
  font-weight: bold;
  font-size: 1.25rem;
  color: #222831;
}
/*# sourceMappingURL=main.css.map */