@import "../utilities/utilities";

.tienda {
  & .tienda__contenedor {
    & .tienda__titulo {
      margin-top: 5rem;
      margin-bottom: 2rem;
      @include tablet {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }

      @include mobile {
        font-size: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
    & .tienda__fila {
      & .tienda__tituloProductos {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        @include tablet {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
        }

        @include mobile {
          font-size: 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }

      & .tienda__columna .tienda__tarjeta {
        border-radius: 0.5rem;
        box-shadow: 2px 2px 20px #969696;
        width: 40rem;
        height: 50rem;
        background-color: #f1f1f1;
        padding: 2rem;
        margin-bottom: 4rem;
        @include tablet {
          width: 30rem;
          height: 40rem;
        }

        @include mobile {
          width: 27.5rem;
          height: 35rem;
        }

        & .tarjeta__img {
          max-width: 35rem;
          max-height: 35rem;
        }

        & .tarjeta__body {
          & .tarjeta__titulo {
            font-size: 2.5rem;
            @include mobile {
              font-size: 1.5rem;
            }
          }

          & .tarjeta__btn {
            position: absolute;
            bottom: 0;
            margin-bottom: 1rem;
            width: 15rem;
          }

          & .tarjeta__modal {
            & .tarjeta__modalContenedor {
              & .tarjeta__modalHeader {
                & .tarjeta__modalTitulo {
                  font-weight: bold;
                }
              }
              & .tarjeta__modalBody {
                padding: 2rem;

                & > p {
                  margin: 0;
                  padding: 0;
                  font-size: 1.5rem;
                }

                & .tarjeta__modalFila {
                  & .tarjeta__modalColumna .tarjeta__modalPrecio {
                    color: $turquesa;
                  }

                  & .tarjeta__modalTituloDescripcion {
                    & .tarjeta__modalDescripcion {
                      font-size: 1.5rem;
                      padding-left: 2rem;
                    }
                  }
                }
              }

              & .tarjeta__modalFooter {
                & .tarjeta__modalBtnCerrar,
                .tarjeta__modalBtnComprar {
                  width: 15rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
