$negro: #222831;
$gris: #393e46;
$blanco: #eeeeee;
$turquesa: #00adb5;

$textoLogo: "Bebas Neue", cursive;
$textoMenu: "DM Sans", sans-serif;
$textoGral: "Inconsolata", monospace;
$textoBuscador: "Quicksand", sans-serif;
